<div class="banner-area">

  <div class="container">
    
    <h1 class="text-center text-white text-uppercase" style="margin-top:100px;">Application Dashboard</h1>
    <hr />
    <div class="banner-content text-center">
      <div class="col-12" style="margin:10px;padding:10px;">
        <list-upload class="pull-left" style="margin-left:40px;padding:5px;"></list-upload>
        <form-upload class="pull-right" ></form-upload>
        <app-dnd></app-dnd>

        
      </div>


    </div>
    <div class="row justify-content-center height align-items-center">
      <div class="align-content-lg-center">
      </div>
    </div>
  </div>
</div>

