
<div class="container">
  <div class="row justify-content-center height align-items-center">
    <div class="col-lg-8">
      <div class="banner-content text-center">
        <span class="text-white top text-uppercase">Distributed Average Consesus of a Histogram</span>
        <hr />
        <h1 class="text-white text-uppercase">Web App</h1>
        <a asp-page="/Dashboard" class="primary-btn d-inline-flex align-items-center">
          <span class="mr-10">Application Dashboard</span>
          <span class="lnr lnr-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
